---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Servicios">
    
    <div class="menu-placeholder"></div>







</Layout>


<style>


    .menu-placeholder {
        height: 90px; /* mismo alto que el menú */
        /* overflow: hidden;
        position: relative;   */
        background-color: black;
    }

    .logo{
        color: black;
    }
</style>