<section class="segunda-pagina">
  <h2>Acerca de nosotros</h2>
  <div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut aliquam
      quod, reprehenderit neque temporibus expedita nemo quia saepe doloremque,
      hic, impedit quasi facere. A atque labore fugiat porro temporibus.
      Laudantium! Nesciunt, pariatur. Expedita consequuntur recusandae assumenda
      earum facere ab eveniet aperiam quos autem est mayores iusto magni
      voluptatum sapiente quae sunt nemo eaque accusantium temporibus,
      exercitationem repudiandae modi blanditiis odit? Fugiat officiis fuga
      tempore blanditiis ipsam recusandae corporis ab, quibusdam saepe odio
      labore optio, maxime obcaecati mollitia cumque asperiores dolorem. Iure
      deserunt 
    </p>

    <button>Contáctenos</button>
  </div>
</section>

<style>
  .segunda-pagina {
    height: 100%;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 15rem;
    column-gap: 5rem;
    padding-top: 20rem;
  }

  .segunda-pagina h2 {
    display: inline-block;
    width: 40%;
    font-size: 2.2rem;
    font-weight: 400;
  }

  .segunda-pagina div {
    width: 60%;
  }


  .segunda-pagina div p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #58534E;
  }

  button{
    border: none;
    padding: 1rem 1.4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #58534E;
    color: white;
    font-size: 1rem;
  }
  

</style>
