

<section class="manifiesto">


    <img src="/images/7.JPG" alt=""/>
    

    
    <div class="contenedor">
        <p>
            En Cinenicma creemos que el cine no es solo una forma de contar historias: es un lenguaje capaz de emocionar, de transformar realidades y de crear memorias eternas.
            Cada imagen que capturamos, cada historia que construimos y cada detalle que perfeccionamos tiene un solo propósito:  <span>elevar cada proyecto a una experiencia cinematográfica inolvidable.</span>
        </p>
        
        <button>Acerca de</button>
    </div>
        
        


</section>

    <style>

        
        .manifiesto{
            width: 100vw;
            height: 90vh;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow: hidden;

            margin-top: 10rem;
            
        }

        .manifiesto > img{
            width: 40%;
            height: 700px;
            object-fit: cover;
        }    


        .contenedor{    
            width: 40%;
            padding: 0;  
        }        
  
        
        p    {

            
            width: 100%;
            font-size: 2rem;
            line-height: 1.4;
            /* transform: translateX(170px); */
            /* text-align: start; */
            

            padding: 0 4rem;
        }


        

        span{
            font-weight: 500;
        }


        .manifiesto .contenedor button{
            margin-top: 2rem;
            padding: 1.5rem 2.5rem;
            cursor: pointer;
            margin: 2rem 4rem;

            border: none;
            
        }

       @media screen {
        
       }






    </style>






