---

---

<header>
  <nav >
    <!-- Menú hamburguesa -->
    <button id="menu-toggle" class="menu_cambio">
      <div></div>
      <div></div>
      <div></div>
    </button>

    <!-- Título centrado -->
    <div class="logo cambio_color" >
      <h1>CINENICMA</h1>
    </div>

    <!-- Botones para cambio de idioma -->
    <div class="actions " >

      <button id="lang-toggle">

        <img src="icons/language.svg" alt="Cambiar idioma">
      </button>
    </div>

    <!-- Menu lateral oculto por defecto  -->
    <div id="side-menu">
      <nav class="side-nav" class="navbar">
        <a href="#">Inicio</a>
        <a href="#">Contacto</a>
        <a href="#">Servicios</a>
        <a href="#">Acerca de</a>
      </nav>
    </div>
  </nav>
</header>







<style>

  header {
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 100;
    /* background: transparent; */

  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  /* Estilos básicos para el botón hamburguesa */
  #menu-toggle {
    display: flex;
    flex-direction: column;
    width: 3rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
    cursor: pointer;
    position: relative;
    z-index: 1100;
  }

  #menu-toggle > div {
    background: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }

  /* Animación al hacer click (cuando tenga la clase active) */
  #menu-toggle.active div:first-child {
    transform: rotate(45deg);
    background: black;
  }

  #menu-toggle.active div:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle.active div:last-child {
    transform: rotate(-45deg);
    background: black;
  }

  #side-menu{
    position: fixed; 
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    /* transition: transform 0.4s ease-out; */
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1000;
  }

  #side-menu.active{
    transform: translateX(0);
  }

  .side-nav{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    row-gap: 4rem;

    font-size: 2.5rem;

    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5rem;
    padding-top: 15rem;
  }

  .side-nav a{
    text-decoration: none;
    color: #333;
    position: relative;
    font-weight: 400;
    
  }

  .side-nav a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #333;
    border-radius: 15px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    margin-top: 3px;
  }

  .side-nav a:hover::after{
    transform: scaleX(1);
  }

  .logo{
    color: white; 
    font-size: 1.2rem;
  }

  #lang-toggle {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
  }



  #lang-toggle img {
    width: 2.2rem;
  }



  @media (max-width: 768px) {
  #side-menu {
    width: 100% ; /* En pantallas pequeñas, ocupa el 100% del ancho */
  }

  .side-nav {
    
    padding-left: 1rem; /* Reduce el padding para pantallas pequeñas */
    row-gap: 2rem;
    padding-top: 7rem;
    justify-content: flex-start;
  }

  .logo{
    font-size: 1rem;
  }
}


</style>





<style is:global>

.cambio_color h1,
.cambio_color button,
.cambio_color a {
  transition: color 0.5s ease;
  color: white;
}

.cambio_color.scrolled h1,
.cambio_color.scrolled button,
.cambio_color.scrolled a {
  color: black;
}

#menu-toggle > div {
  transition: background-color 0.4s ease;
}
.menu_cambio.scrolled_menu > div {
  background: black !important;



}

</style>



<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const sideMenu = document.getElementById('side-menu'); 
    if (menuToggle) {
      menuToggle.addEventListener("click", () => {
        menuToggle.classList.toggle("active");
        // Aquí puedes agregar la lógica para mostrar el menú de categorías si lo deseas
        sideMenu?.classList.toggle('active'); 
      });
    }
  });


//   document.addEventListener('DOMContentLoaded', () => {
//   const element = document.querySelector('.cambio_color'); 
//   window.addEventListener('scroll', () => {
//     if (window.scrollY > 1000) {
//       element?.classList.add('scrolled');
//     } else {
//       element?.classList.remove('scrolled');
//     }
//   });
// });

// document.addEventListener('DOMContentLoaded', () => {
//   const element = document.querySelector('.menu_cambio'); 
//   window.addEventListener('scroll', () => {
//     if (window.scrollY > window.innerHeight) {
//       element?.classList.add('scrolled_menu');
//     } else {
//       element?.classList.remove('scrolled_menu');
//     }
//   });
// });



  



</script>
